/* basic input */
.input {
  width: 100%;
  height: 60px;
  padding: 0 22px;
  border: 1px solid var(--color-disabled);
  border-radius: 20px;
  color: var(--color-black);
  font-size: var(--font-size);
  line-height: 60px;
}

.input::placeholder {
  color: var(--color-gray);
}

/* label input */
.label_input {
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
  padding: 0 22px;
  border: 1px solid var(--color-disabled);
  border-radius: 20px;
  color: var(--color-black);
  font-size: var(--font-size);
  line-height: 60px;
}

.label_input::placeholder {
  color: var(--color-gray);
}

input[type="password"] {
  font-family: "Courier New", Courier, monospace;
}

/* input group */
.input_group {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  border: 1px solid var(--color-disabled);
  border-radius: 20px;
}

.input_group > input {
  width: 80%;
  padding: 0 22px;
  color: var(--color-black);
  font-size: var(--font-size);
  font-weight: 400;
}

.input_group > input::placeholder {
  color: var(--color-gray);
}

.input_group > span {
  width: 20%;
  height: 60px;
  border-left: 1px solid var(--color-disabled);
  color: var(--color-black);
  font-size: calc(var(--font-size) * 1.12);
  font-weight: 400;
  text-align: center;
  line-height: 60px;
}
